In [1]:
my_value = 42
print(my_value, type(my_value))
my_value = int(42)
print(my_value, type(my_value))

42 <class 'int'>
42 <class 'int'>

In [4]:
# From [2, 36], decimal (base 10)
my_value2 = int("42", base=10)
print(my_value2, type(my_value2))

42 <class 'int'>

In [3]:
# 1 + 4 + 8 = 13
my_value3 = int("1101", base=2)
print(my_value3, type(my_value3))

13 <class 'int'>

In [8]:
# 16 + 16*16 = 255
my_value4 = int("ff", base=16)
print(my_value4, type(my_value4))

255 <class 'int'>

In [10]:
my_value5 = int("77", base=8)
print(my_value5, type(my_value5))

63 <class 'int'>

In [16]:
my_value6 = int("0b101010", base=0)
print(my_value6)

my_value7 = int("0x2a", base=0)
print(my_value7)

my_value8 = 0b101010
print(my_value8)
my_value9 = 0x2a
print(my_value9)

42
42
42
42

In [11]:
my_int_value = 42
print(bin(my_int_value), type(bin(my_int_value)))
print(oct(my_int_value), type(oct(my_int_value)))
print(hex(my_int_value), type(hex(my_int_value)))

0b101010 <class 'str'>
0o52 <class 'str'>
0x2a <class 'str'>